.elementor-5759 .elementor-element.elementor-element-2625e6d9{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-5759 .elementor-element.elementor-element-1263c7ef{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--margin-top:19px;--margin-bottom:11px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-5759 .elementor-element.elementor-element-10750d3{width:var( --container-widget-width, 22% );max-width:22%;--container-widget-width:22%;--container-widget-flex-grow:0;top:28px;z-index:1000;--icon-box-icon-margin:21px;}.elementor-5759 .elementor-element.elementor-element-10750d3.elementor-element{--align-self:center;}body:not(.rtl) .elementor-5759 .elementor-element.elementor-element-10750d3{left:7px;}body.rtl .elementor-5759 .elementor-element.elementor-element-10750d3{right:7px;}.elementor-5759 .elementor-element.elementor-element-10750d3.elementor-view-stacked .elementor-icon{background-color:#BE4444;}.elementor-5759 .elementor-element.elementor-element-10750d3.elementor-view-framed .elementor-icon, .elementor-5759 .elementor-element.elementor-element-10750d3.elementor-view-default .elementor-icon{fill:#BE4444;color:#BE4444;border-color:#BE4444;}.elementor-5759 .elementor-element.elementor-element-10750d3 .elementor-icon{font-size:44px;}.elementor-5759 .elementor-element.elementor-element-10750d3 .elementor-icon-box-title, .elementor-5759 .elementor-element.elementor-element-10750d3 .elementor-icon-box-title a{font-size:26px;}.elementor-5759 .elementor-element.elementor-element-10750d3 .elementor-icon-box-title{color:#FFFFFF;}.elementor-5759 .elementor-element.elementor-element-6b2ebda6{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:flex-end;--align-items:center;--margin-top:10px;--margin-bottom:10px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;--z-index:1;}.elementor-5759 .elementor-element.elementor-element-3831a351{--display:flex;}.elementor-5759 .elementor-element.elementor-element-76fff54f{--display:flex;}.elementor-5759 .elementor-element.elementor-element-ffeb7d4{--display:flex;}.elementor-5759 .elementor-element.elementor-element-1925a2e4{--n-menu-dropdown-content-max-width:fit-content;--n-menu-title-distance-from-content:20px;width:var( --container-widget-width, 380px );max-width:380px;--container-widget-width:380px;--container-widget-flex-grow:0;--n-menu-title-justify-content:flex-end;--n-menu-title-justify-content-mobile:flex-end;--n-menu-toggle-align:flex-end;--n-menu-toggle-icon-wrapper-animation-duration:500ms;--n-menu-title-space-between:5px;--n-menu-title-font-size:16px;--n-menu-title-color-normal:#FFFFFF;--n-menu-title-transition:300ms;--n-menu-icon-size:16px;--n-menu-toggle-icon-size:40px;--n-menu-toggle-icon-color:#FFFFFF;--n-menu-toggle-icon-color-hover:#FFFFFF;--n-menu-toggle-icon-hover-duration:500ms;--n-menu-toggle-icon-color-active:#FFFFFF;--n-menu-toggle-icon-border-radius:100% 100% 100% 100%;--n-menu-toggle-icon-padding:0px 0px 0px 0px;--n-menu-toggle-icon-distance-from-dropdown:0px;--n-menu-title-normal-color-dropdown:#FFFFFF;--n-menu-title-active-color-dropdown:#FFFFFF;}.elementor-5759 .elementor-element.elementor-element-1925a2e4 > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title:not( .e-current ):not( :hover ){background-color:#FFFFFF00;border-style:none;}.elementor-5759 .elementor-element.elementor-element-1925a2e4 > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title:hover:not( .e-current ){background-color:#FFFFFF00;border-style:none;}.elementor-5759 .elementor-element.elementor-element-1925a2e4 > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title.e-current{background-color:#FFFFFF00;border-style:none;}:where( .elementor-5759 .elementor-element.elementor-element-1925a2e4 > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-content ) > .e-con{background-color:#FFFFFF00;}.elementor-5759 .elementor-element.elementor-element-1925a2e4 > .e-n-menu[data-layout='dropdown'] > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title:not( .e-current ){background:#FFFFFF00;}.elementor-5759 .elementor-element.elementor-element-1925a2e4 > .e-n-menu[data-layout='dropdown'] > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title.e-current{background-color:#FFFFFF00;}.elementor-5759 .elementor-element.elementor-element-1925a2e4.elementor-element{--align-self:center;}.elementor-5759 .elementor-element.elementor-element-1925a2e4 > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title, .elementor-5759 .elementor-element.elementor-element-1925a2e4 > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title > .e-n-menu-title-container, .elementor-5759 .elementor-element.elementor-element-1925a2e4 > .e-n-menu > .e-n-menu-wrapper > .e-n-menu-heading > .e-n-menu-item > .e-n-menu-title > .e-n-menu-title-container > span{font-family:"Inter", Sans-serif;font-weight:500;text-transform:capitalize;--n-menu-title-line-height:1;}.elementor-5759 .elementor-element.elementor-element-1925a2e4 {--n-menu-title-color-hover:#FFFFFF;--n-menu-title-color-active:#FFFFFF;}.elementor-5759 .elementor-element.elementor-element-6918ec73 img{width:130px;max-width:100%;}.elementor-5759 .elementor-element.elementor-element-428342a3{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-5759 .elementor-element.elementor-element-64b12758{--display:flex;--min-height:80vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overflow:hidden;border-style:solid;--border-style:solid;border-width:0px 0px 0px 0px;--border-top-width:0px;--border-right-width:0px;--border-bottom-width:0px;--border-left-width:0px;border-color:#FFFFFF;--border-color:#FFFFFF;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-5759 .elementor-element.elementor-element-64b12758:not(.elementor-motion-effects-element-type-background), .elementor-5759 .elementor-element.elementor-element-64b12758 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2026/01/Frame-1618873644-5-scaled-e1767815609905.webp");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-5759 .elementor-element.elementor-element-64b12758::before, .elementor-5759 .elementor-element.elementor-element-64b12758 > .elementor-background-video-container::before, .elementor-5759 .elementor-element.elementor-element-64b12758 > .e-con-inner > .elementor-background-video-container::before, .elementor-5759 .elementor-element.elementor-element-64b12758 > .elementor-background-slideshow::before, .elementor-5759 .elementor-element.elementor-element-64b12758 > .e-con-inner > .elementor-background-slideshow::before, .elementor-5759 .elementor-element.elementor-element-64b12758 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-5759 .elementor-element.elementor-element-64b12758.e-con{--align-self:center;}.elementor-5759 .elementor-element.elementor-element-1cfbb549{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--gap:0px 10px;--row-gap:0px;--column-gap:10px;--margin-top:30px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-5759 .elementor-element.elementor-element-18da46ff{width:100%;max-width:100%;margin:10px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;text-align:center;}.elementor-5759 .elementor-element.elementor-element-18da46ff.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-5759 .elementor-element.elementor-element-18da46ff .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:26px;font-weight:500;letter-spacing:1.5px;}.elementor-5759 .elementor-element.elementor-element-593805cf{width:100%;max-width:100%;margin:13px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;text-align:center;}.elementor-5759 .elementor-element.elementor-element-593805cf.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-5759 .elementor-element.elementor-element-593805cf .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:41px;font-weight:700;letter-spacing:1.5px;}.elementor-5759 .elementor-element.elementor-element-11064f50{--display:grid;--e-con-grid-template-columns:repeat(3, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--grid-auto-flow:row;--align-items:end;--padding-top:10px;--padding-bottom:10px;--padding-left:10px;--padding-right:10px;}.elementor-5759 .elementor-element.elementor-element-7bcbc695{background-image:url("../../2026/01/Frame-1618873815-1-6.png");padding:8px 8px 8px 8px;z-index:9999;background-position:center center;background-repeat:no-repeat;background-size:cover;text-align:left;}.elementor-5759 .elementor-element.elementor-element-7bcbc695 img{width:100%;}.elementor-5759 .elementor-element.elementor-element-254edf27{--display:flex;}.elementor-5759 .elementor-element.elementor-element-2c301aba{margin:-15px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;}.elementor-5759 .elementor-element.elementor-element-2c301aba img{width:78%;border-style:solid;border-width:0px 0px 0px 0px;border-radius:558px 558px 558px 558px;}.elementor-5759 .elementor-element.elementor-element-105ad241{width:var( --container-widget-width, 84% );max-width:84%;margin:-30px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;--container-widget-width:84%;--container-widget-flex-grow:0;text-align:center;font-family:"Poppins", Sans-serif;font-size:16px;font-weight:500;}.elementor-5759 .elementor-element.elementor-element-105ad241.elementor-element{--align-self:center;}.elementor-5759 .elementor-element.elementor-element-2b4e3d24{background-image:url("../../2026/01/Frame-1618873816-1.webp");padding:8px 8px 8px 8px;z-index:9999;background-position:center center;background-repeat:no-repeat;background-size:cover;text-align:right;}.elementor-5759 .elementor-element.elementor-element-2b4e3d24 img{width:100%;border-radius:15px 15px 15px 15px;}.elementor-5759 .elementor-element.elementor-element-4ea0a3ad{--display:flex;--min-height:80vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--gap:0px 0px;--row-gap:0px;--column-gap:0px;--overlay-opacity:1;border-style:solid;--border-style:solid;border-width:0px 0px 0px 0px;--border-top-width:0px;--border-right-width:0px;--border-bottom-width:0px;--border-left-width:0px;border-color:#FFFFFF;--border-color:#FFFFFF;--border-radius:0px 0px 0px 0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-5759 .elementor-element.elementor-element-4ea0a3ad:not(.elementor-motion-effects-element-type-background), .elementor-5759 .elementor-element.elementor-element-4ea0a3ad > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2026/01/Frame-1618873644-5-scaled-e1767815609905.webp");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-5759 .elementor-element.elementor-element-4ea0a3ad::before, .elementor-5759 .elementor-element.elementor-element-4ea0a3ad > .elementor-background-video-container::before, .elementor-5759 .elementor-element.elementor-element-4ea0a3ad > .e-con-inner > .elementor-background-video-container::before, .elementor-5759 .elementor-element.elementor-element-4ea0a3ad > .elementor-background-slideshow::before, .elementor-5759 .elementor-element.elementor-element-4ea0a3ad > .e-con-inner > .elementor-background-slideshow::before, .elementor-5759 .elementor-element.elementor-element-4ea0a3ad > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';}.elementor-5759 .elementor-element.elementor-element-4ea0a3ad.e-con{--align-self:center;}.elementor-5759 .elementor-element.elementor-element-4cb9b6cd .elementor-button{background-color:transparent;font-weight:500;background-image:linear-gradient(141deg, #294E9D 0%, #2A9ED8 100%);border-radius:29px 29px 29px 29px;}.elementor-5759 .elementor-element.elementor-element-4cb9b6cd{width:var( --container-widget-width, 11% );max-width:11%;margin:20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 20px;--container-widget-width:11%;--container-widget-flex-grow:0;z-index:999;}.elementor-5759 .elementor-element.elementor-element-4cb9b6cd.elementor-element{--align-self:flex-start;}.elementor-5759 .elementor-element.elementor-element-4cb9b6cd .elementor-button-content-wrapper{flex-direction:row;}.elementor-5759 .elementor-element.elementor-element-4cb9b6cd .elementor-button .elementor-button-content-wrapper{gap:13px;}.elementor-5759 .elementor-element.elementor-element-e25cf83{margin:-60px 0px calc(var(--kit-widget-spacing, 0px) + -90px) 0px;}.elementor-5759 .elementor-element.elementor-element-6d785366{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}body.elementor-page-5759:not(.elementor-motion-effects-element-type-background), body.elementor-page-5759 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#0C1118;}body.elementor-page-5759{padding:0px 0px 0px 0px;}.elementor-widget .tippy-tooltip .tippy-content{text-align:center;}@media(min-width:768px){.elementor-5759 .elementor-element.elementor-element-11064f50{--content-width:1250px;}}@media(max-width:1366px){.elementor-5759 .elementor-element.elementor-element-1263c7ef{--margin-top:10px;--margin-bottom:12px;--margin-left:0px;--margin-right:0px;}.elementor-5759 .elementor-element.elementor-element-10750d3 .elementor-icon{font-size:40px;}.elementor-5759 .elementor-element.elementor-element-10750d3 .elementor-icon-box-title, .elementor-5759 .elementor-element.elementor-element-10750d3 .elementor-icon-box-title a{font-size:20px;}.elementor-5759 .elementor-element.elementor-element-1925a2e4{--container-widget-width:200px;--container-widget-flex-grow:0;width:var( --container-widget-width, 200px );max-width:200px;}.elementor-5759 .elementor-element.elementor-element-11064f50{--grid-auto-flow:row;}}@media(min-width:1920px){.elementor-5759 .elementor-element.elementor-element-1263c7ef{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--margin-top:0px;--margin-bottom:30px;--margin-left:0px;--margin-right:0px;}.elementor-5759 .elementor-element.elementor-element-6b2ebda6{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;}.elementor-5759 .elementor-element.elementor-element-6918ec73{text-align:right;}.elementor-5759 .elementor-element.elementor-element-6918ec73 img{width:150px;}.elementor-5759 .elementor-element.elementor-element-428342a3{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-5759 .elementor-element.elementor-element-64b12758{--min-height:80vh;}.elementor-5759 .elementor-element.elementor-element-18da46ff{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;}.elementor-5759 .elementor-element.elementor-element-18da46ff .elementor-heading-title{font-size:41px;}.elementor-5759 .elementor-element.elementor-element-593805cf{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;}.elementor-5759 .elementor-element.elementor-element-593805cf .elementor-heading-title{font-size:41px;}.elementor-5759 .elementor-element.elementor-element-11064f50{--grid-auto-flow:row;}.elementor-5759 .elementor-element.elementor-element-7bcbc695 img{width:655px;}.elementor-5759 .elementor-element.elementor-element-2b4e3d24 img{width:655px;}.elementor-5759 .elementor-element.elementor-element-4ea0a3ad{--min-height:80vh;}.elementor-5759 .elementor-element.elementor-element-4cb9b6cd .elementor-button{font-size:19px;border-radius:30px 30px 30px 30px;}.elementor-5759 .elementor-element.elementor-element-6d785366{--min-height:71px;}}@media(max-width:1200px){.elementor-5759 .elementor-element.elementor-element-1263c7ef{--margin-top:0px;--margin-bottom:30px;--margin-left:0px;--margin-right:0px;}.elementor-5759 .elementor-element.elementor-element-1925a2e4{--container-widget-width:40px;--container-widget-flex-grow:0;width:var( --container-widget-width, 40px );max-width:40px;}.elementor-5759 .elementor-element.elementor-element-18da46ff .elementor-heading-title{font-size:34px;}.elementor-5759 .elementor-element.elementor-element-593805cf .elementor-heading-title{font-size:34px;}.elementor-5759 .elementor-element.elementor-element-11064f50{--grid-auto-flow:row;}.elementor-5759 .elementor-element.elementor-element-4cb9b6cd .elementor-button{font-size:13px;}}@media(max-width:1024px){.elementor-5759 .elementor-element.elementor-element-1263c7ef{--justify-content:space-between;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );}.elementor-5759 .elementor-element.elementor-element-6b2ebda6{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;}.elementor-5759 .elementor-element.elementor-element-1925a2e4{--container-widget-width:350px;--container-widget-flex-grow:0;width:var( --container-widget-width, 350px );max-width:350px;}.elementor-5759 .elementor-element.elementor-element-1925a2e4.elementor-element{--order:99999 /* order end hack */;}.elementor-5759 .elementor-element.elementor-element-428342a3{--border-radius:21px 21px 21px 21px;}.elementor-5759 .elementor-element.elementor-element-64b12758{border-width:0px 0px 0px 0px;--border-top-width:0px;--border-right-width:0px;--border-bottom-width:0px;--border-left-width:0px;--border-radius:20px 20px 20px 20px;}.elementor-5759 .elementor-element.elementor-element-11064f50{--grid-auto-flow:row;}.elementor-5759 .elementor-element.elementor-element-4ea0a3ad{border-width:0px 0px 0px 0px;--border-top-width:0px;--border-right-width:0px;--border-bottom-width:0px;--border-left-width:0px;--border-radius:20px 20px 20px 20px;}}@media(max-width:880px){.elementor-5759 .elementor-element.elementor-element-1263c7ef{--justify-content:space-between;}.elementor-5759 .elementor-element.elementor-element-10750d3{--container-widget-width:238px;--container-widget-flex-grow:0;width:var( --container-widget-width, 238px );max-width:238px;}.elementor-5759 .elementor-element.elementor-element-6b2ebda6{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;}.elementor-5759 .elementor-element.elementor-element-1925a2e4.elementor-element{--align-self:center;}.elementor-5759 .elementor-element.elementor-element-11064f50{--grid-auto-flow:row;}}@media(max-width:767px){.elementor-5759 .elementor-element.elementor-element-1263c7ef{--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--margin-top:0px;--margin-bottom:60px;--margin-left:0px;--margin-right:0px;}.elementor-5759 .elementor-element.elementor-element-10750d3{--container-widget-width:173px;--container-widget-flex-grow:0;width:var( --container-widget-width, 173px );max-width:173px;top:15px;z-index:999;--icon-box-icon-margin:8px;}body:not(.rtl) .elementor-5759 .elementor-element.elementor-element-10750d3{left:-9px;}body.rtl .elementor-5759 .elementor-element.elementor-element-10750d3{right:-9px;}.elementor-5759 .elementor-element.elementor-element-10750d3 .elementor-icon-box-wrapper{align-items:start;}.elementor-5759 .elementor-element.elementor-element-10750d3 .elementor-icon{font-size:34px;}.elementor-5759 .elementor-element.elementor-element-10750d3 .elementor-icon-box-title, .elementor-5759 .elementor-element.elementor-element-10750d3 .elementor-icon-box-title a{font-size:17px;}.elementor-5759 .elementor-element.elementor-element-1925a2e4{--container-widget-width:180px;--container-widget-flex-grow:0;width:var( --container-widget-width, 180px );max-width:180px;z-index:100;}.elementor-5759 .elementor-element.elementor-element-6918ec73.elementor-element{--order:-99999 /* order start hack */;}.elementor-5759 .elementor-element.elementor-element-6918ec73 img{width:100px;}.elementor-5759 .elementor-element.elementor-element-428342a3{--margin-top:0px;--margin-bottom:30px;--margin-left:0px;--margin-right:0px;}.elementor-5759 .elementor-element.elementor-element-64b12758{--min-height:80vh;}.elementor-5759 .elementor-element.elementor-element-1cfbb549{--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--margin-top:40px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-5759 .elementor-element.elementor-element-18da46ff{margin:20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;text-align:center;}.elementor-5759 .elementor-element.elementor-element-18da46ff .elementor-heading-title{font-size:26px;}.elementor-5759 .elementor-element.elementor-element-593805cf{margin:20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;text-align:center;}.elementor-5759 .elementor-element.elementor-element-593805cf .elementor-heading-title{font-size:26px;}.elementor-5759 .elementor-element.elementor-element-11064f50{--e-con-grid-template-columns:repeat(1, 1fr);--grid-auto-flow:row;}.elementor-5759 .elementor-element.elementor-element-7bcbc695{margin:0px 0px calc(var(--kit-widget-spacing, 0px) + 20px) 0px;z-index:0;}.elementor-5759 .elementor-element.elementor-element-7bcbc695 img{width:100%;max-width:100%;}.elementor-5759 .elementor-element.elementor-element-2c301aba img{width:84%;}.elementor-5759 .elementor-element.elementor-element-105ad241{--container-widget-width:583px;--container-widget-flex-grow:0;width:var( --container-widget-width, 583px );max-width:583px;font-size:13px;}.elementor-5759 .elementor-element.elementor-element-2b4e3d24{margin:20px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;}.elementor-5759 .elementor-element.elementor-element-2b4e3d24 img{width:97%;}.elementor-5759 .elementor-element.elementor-element-4ea0a3ad{--min-height:80vh;}body.elementor-page-5759{padding:15px 15px 15px 15px;}}/* Start custom CSS for mega-menu, class: .elementor-element-1925a2e4 */#pushmenu .e-n-menu-heading{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
#pushmenu .e-n-menu-item{
    flex-direction: row;
}
#pushmenu .e-n-menu-wrapper {
    position: absolute;
        left: auto;
    right: 0;
    top: -2px;
    width: 400px !important;
     background: hsl(0deg 0% 100% / 20%);
    border-radius: 100px;
    padding: 5px 60px 5px 5px;
    z-index: 0;
}

/* Add vertical dividers */
#pushmenu .e-n-menu-heading .e-n-menu-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: #888;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-1263c7ef */.elementor-5759 .elementor-element.elementor-element-1263c7ef .all-img{
    display: none;
}

[data-showme] {
    display: flex;
    cursor: pointer;
    transition: opacity 0.3s ease;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-593805cf */#lin{
  background: var(--Path, linear-gradient(290deg, #2A9ED8 27.26%, #294E9D 70.41%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-1cfbb549 */@media only screen and (max-width: 600px) {
    .exec{
      box-shadow: 0 -8px 16px -8px rgba(0,0,0,0.25);
}}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-2c301aba */.img-1{
    cursor: pointer;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-64b12758 */@media screen and (max-width: 1024px) {
    #main-box {
        background-color: transparent !important;
}

}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-4cb9b6cd */.elementor-button-icon .e-font-icon-svg {
     height: 2em; 
     width: 30px;
     margin-left: -10px;
     
}
.elementor-button-text{
    margin-top: 7px;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-4ea0a3ad */@media screen and (max-width: 1024px) {
    #main-box {
        background-color: transparent !important;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-428342a3 */@media (min-width: 1871px) {
	    
	    body{
	        overflow: hidden !important; 
	    }
	}/* End custom CSS */
/* Start custom CSS */@media only screen and (max-width: 600px) {
    body{
    overflow: visible !important;
}
    .elementor-button-text{
        display: block !important;
    }
    .btn-1 .elementor-button-text{
        display: none !important;
    }
   
}

.sec-1{
    justify-content: space-between !important;
}
@keyframes zoomOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

.zoom-out {
    animation: zoomOut 0.5s ease forwards;
}

.tooltip-1, .tooltip-2{
    cursor: pointer;
}

.tool-1{
    margin-top: 90px !important;
}
@media (min-width: 1440px) and (max-width: 1985px) {
.mytext{
        margin-top: -40px !important;
    }
    .tooltip-1{
        margin-right: 60px !important;
        max-width: 140px !important;
    }
    
    .tooltip-2{
        margin-right: -60px !important;
        max-width: 140px !important;
    }
    .html{
        top: 0% !important;
    }
    .arrowcenter{
        margin-top: 190px !important;
    }
 
}
@media (min-width: 1985px) {
.html {
position: absolute !important;
inset: 19 !important; 
top: 269px !important;
}

.box-1{
    margin-top: 590px !important;
}
}




@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .tool-base {
					padding: 0px;
					margin: 0 auto;
					position: relative;
					overflow: hidden;
					width: 421px;
					height: 421px;
				
				}
    
    .center-image {
                	border-radius: 50% !important;
                	position: absolute;
                	z-index: 1;
                	left: 0;
                	right: 0;
                	top: 0;
                	bottom: 0;
                	margin: auto;
                	cursor: pointer;
                	
                	width: 205px;
    }
    .html{
        margin-top: -14px !important;
    }
}




@media (width: 1920px) {

    .elementor-5759 .elementor-element.elementor-element-509c55f7 img {
        width: 397px !important;
        max-width: 397px !important;
        margin-top: -80px !important;
    }
    .sec-1, .sect-2{
        height: 50vh !important;
    }
    .thumb-3{
        margin-top: 69px !important;
    }
    .html{
        margin-top: 0px !important;
    }
        .elementor-5759 .elementor-element.elementor-element-4bff000d {
        margin: 15px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px !important;
        z-index: 1000 !important;
    }
    

    
    .tooltip-2, .tooltip-1, .tool-1, .tool-2 {
        scale: 1.4 !important;
    }
}

@media (min-width: 1801px) {
    
   .elementor-5759 .elementor-element.elementor-element-59953ba5 {
       
        margin-top: 480px !important;
        
    }
    .mytext{
        margin-top: -40px !important;
    }
    .html{
        margin-top: -179px !important;
        scale: 0.9;
    }
    
  
    .tooltip-2, .tooltip-1, .tool-1, .tool-2 {
        scale: 1.2 !important;
    }
    
    .top-1, .top-2, .top-3, .btm-1, .btm-2, .btm-3{
        scale: 0.8;
    }
}


@media (max-width: 767px) {
    .elementor-5759 .elementor-element.elementor-element-59953ba5 {
        --margin-top: 150px !important;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
         
    }
      body:not(.rtl) .elementor-5759 .elementor-element.elementor-element-52b59f99 {
        left: 0%;
        top: 40%;
    }
        .elementor-5759 .elementor-element.elementor-element-26d93a8f {
        --e-con-grid-template-columns: repeat(1, 1fr);
        --grid-auto-flow: row;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        gap: 330px;
    }
    .e-con.e-flex>.e-con-inner{
        margin-top: 10px !important;
    }
    .elementor-5759 .elementor-element.elementor-element-592e145d {
        --width: 200px;
        --margin-top: 660px;
        --margin-bottom: 0px;
        --margin-left: -150px;
        --margin-right: 0px;
    }
        .elementor-5759 .elementor-element.elementor-element-6516db66 {
        --width: 200px;
        --margin-top: 600px;
        --margin-bottom: 0px;
        --margin-left: 120px;
        --margin-right: 0px;
    }
    .arrowbtm{
        margin-top: 1259px !important;
    }
    .html{
        position: absolute !important;
        bottom: 32% !important;
    }
    
}
@media (min-width: 1920px) {
    .elementor-5759 .elementor-element.elementor-element-25e68823 {
         --min-height: 0px; 
         display: none;
    }
}
.textbox {
  position: relative;
  width: 36%;
  height: 69px; /* adjust height as needed */
  overflow: hidden;
}

.text {
  display: none;
  position: absolute;
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
  color: #007BFF;
  animation: fadeInUp 0.8s ease;
 
}

.text.active {
  display: block;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 600px) {
 .textbox {
  position: relative;
  width: 99%;
  height: 70px; /* adjust height as needed */
  overflow: hidden;
  display: flex;
  justify-content: center;
  --margin-bottom: 30px;
}
.text {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  color: #007BFF;
  animation: fadeInUp 0.8s ease;
 
}
}
.elementor-5759 .elementor-element.elementor-element-52b59f99.e-con {
     --align-self: flex-start; 
}


.vid-1 {
  display: none;
}
.btn-1 {
    position: relative;
    z-index: 9999;
    pointer-events: auto;
    cursor: pointer;
}
#schedScreen {
    pointer-events: none;
}

/* Bounce Down Exit */
.circle.small.bounce-down { 
    animation: bounceDown 0.9s ease forwards; 
}

@keyframes bounceDown {
    0% { transform: translateY(0); opacity: 1; }
    40% { transform: translateY(20px); } /* Slight bounce up before falling */
    100% { transform: translateY(300px); opacity: 0; } /* Fall down */
}
/* base state */
.center,
.bottom {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease; /* duration matches JS */
}

/* state when we want them to hide with animation */
.center.hide-anim,
.bottom.hide-anim {
  opacity: 0;
  transform: translateY(30px); /* move down a bit */
}
.img-1, .center{
    animation: none !important;
}
.btn-1{
    opacity: 0;
}
@media (min-width: 1920px) {
    .elementor-5759 .elementor-element.elementor-element-1263c7ef  {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
       .elementor-5759 .elementor-element.elementor-element-18da46ff .elementor-heading-title {
         font-size: 28px; 
          margin-top: 30px !important;
           margin-bottom: 10px !important;
    }
    .elementor-element-11064f50 {
        scale: 1.2 !important;
        margin-top: 130px !important;
    }
  .elementor-5759 .elementor-element.elementor-element-1cfbb549 {
          scale: 1.2 !important;
    }
    #circleContainer{
          scale: 1.2 !important;
        margin-top: 260px !important;
    }
}/* End custom CSS */